<div class="navbar">
    <div class="logo">
        <h1>MyStore</h1>
    </div>
    <mat-tab-group mat-align-tabs="center" [color]="'warn'">
    <mat-tab label="New in"></mat-tab>
    <mat-tab label="Clothing"></mat-tab>
    <mat-tab label="Shoes"></mat-tab>
    <mat-tab label="Accessories"></mat-tab>
    <mat-tab label="More"></mat-tab>
</mat-tab-group>

  <!-- <div class="icons"> -->
    <mat-form-field class="example-form-field">
        <mat-label>Search</mat-label>
        <input matInput type="text" placeholder="Search">
      </mat-form-field>
  <!-- </div> -->
</div>