#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.actions{
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: space-between;
}

.search{
    display: flex;
    align-items: center;
    color: #000;
    background: #fff;
    border: none;
    border-radius: 50px;
    height: 50px;
    text-transform: capitalize;
    padding: 0px 10px;
}

.icon{
    color: rgb(11, 147, 165);
}

.input input::placeholder{
    text-transform: capitalize;
}